<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <p>Pregunta: <%= quiz.pregunta %></p>
    <p><div class="tema">Temática: <%= [quiz.tema] %></div></p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>
<br />
<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
    <% if (quiz.Comments[index].publicado || session.user){ %>
        <p>- <%=quiz.Comments[index].texto%>
        <% if (session.user && !quiz.Comments[index].publicado) { %>
            <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
                <button>Publicar</button>
            </a>
        <% } %>
        </p>
    <% } %>
<%}%>
<%if (quiz.Comments === null || quiz.Comments.length === 0) { %>
    <p>No hay comentarios</p>
<%}%>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>